<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kf.plt.tas.adminserver.mapper.RzZdjMapper">
  <resultMap id="BaseResultMap" type="kf.plt.tas.adminserver.entity.dataentity.RzZdj">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="terminal_code" jdbcType="VARCHAR" property="terminalCode" />
    <result column="terminal_name" jdbcType="VARCHAR" property="terminalName" />
    <result column="machine_type" jdbcType="VARCHAR" property="machineType" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="attr1" jdbcType="VARCHAR" property="attr1" />
    <result column="attr2" jdbcType="VARCHAR" property="attr2" />
    <result column="attr3" jdbcType="VARCHAR" property="attr3" />
    <result column="attr4" jdbcType="VARCHAR" property="attr4" />
    <result column="attr5" jdbcType="VARCHAR" property="attr5" />
    <result column="attr6" jdbcType="VARCHAR" property="attr6" />
    <result column="attr7" jdbcType="VARCHAR" property="attr7" />
    <result column="attr8" jdbcType="VARCHAR" property="attr8" />
  </resultMap>
  
  
  
  	<!-- 插入 -->
	<insert id="insertRzZdj" parameterType="java.util.List">
  	<selectKey keyProperty="id" resultType="String"
		order="BEFORE">
		select replace(UUID(),'-','')
	</selectKey>
		insert into t_rz_zdj
		(id, terminal_code, terminal_name, machine_type)
		values
			(#{id},
			#{terminalCode},
			#{terminalName},
			#{machineType}
			)
	</insert>
	
	<select id="selectRzZdjByTerminalCode" resultMap="BaseResultMap">
		select * from t_rz_zdj where terminal_code in
		<foreach collection="list" index="index" item="item"
			separator="," open="(" close=")">
			#{item.terminalCode,jdbcType=VARCHAR}
	</foreach>
	</select>
	
	<select id="selectByTerminalCode" resultMap="BaseResultMap">
		select * from t_rz_zdj where terminal_code = #{terminalCode}
	</select>
	
	<select id="selectIsSameByTerminalCode" resultMap="BaseResultMap">
		select * from t_rz_zdj where terminal_code = #{terminalCode} and id != #{id}
	</select>
	
	
	
</mapper>